<div class="modal fade search-popup modal-fullscreen" id="search-popup" tabindex="-1" role="dialog">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <div class="pos-vertical-center">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="heading mb-90">
                        <h2 class="heading--title">Search</h2>
                    </div>
                    <form class="form-inline form-search">
                        <div class="form-group">
                            <div class="select--box">
                                <i class="fa fa-caret-down"></i>
                                <select name="select-cat" id="select-cat" class="form-control">
                                    <option>All Categotries</option>
                                    <option>Chairs</option>
                                    <option>Tables</option>
                                    <option>Sofas</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here">
                            <button type="button"><i class="lnr lnr-arrow-right"></i></button>
                        </div>
                    </form>
                    <!-- .form-search end -->
                    <p>TOP KEYWORDS: Chair, Table, Sofas, Lamps</p>
                </div>
            </div>
        </div>
        <!-- .modal-content end -->
    </div>
</div>
<!-- .modal end -->

<div class="modal model-bg-light fade compare-popup modal-fullscreen" id="compare-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="heading text-center mb-50">
                    <h2 class="heading--title">Compare products</h2>
                </div>
                <div class="table-responsive table-bordered product-detalis-2 product-detalis-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="product--info">
                                    <div class="product--img">
                                        <img src="assets/images/products/gallery/thumb/25.png" alt="">
                                    </div>
                                    <div class="product--title">
                                        <h3>Relaxing chair</h3>
                                    </div>
                                    <div class="product--price">$ 30.00</div>
                                </td>
                                <td class="product--info">
                                    <div class="product--img">
                                        <img src="assets/images/products/gallery/thumb/26.png" alt="">
                                    </div>
                                    <div class="product--title">
                                        <h3>Simple chair</h3>
                                    </div>
                                    <div class="product--price">$ 23.00</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Description </th>
                                <td>
                                    <div class="product--desc-list">
                                        <ul class="list-unstyled mb-0">
                                            <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                            <li>Model is 170/ 5’7” Tall</li>
                                            <li>Shoulder seam to hem measures appox 58”/ 147 cm in lenght</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="product--desc-list">
                                        <ul class="list-unstyled mb-0">
                                            <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                            <li>Model is 170/ 5’7” Tall</li>
                                            <li>Shoulder seam to hem measures appox 58”/ 147 cm in lenght</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Availability</th>
                                <td>instock</td>
                                <td>instock</td>
                            </tr>
                            <tr>
                                <th scope="row">color</th>
                                <td>blue</td>
                                <td>black</td>
                            </tr>
                            <tr>
                                <th scope="row">Sku Code</th>
                                <td>h124548461</td>
                                <td>b124741991</td>
                            </tr>
                            <tr>
                                <th scope="row">price</th>
                                <td><span class="color-theme">$ 30.00</span></td>
                                <td><span class="color-theme">$ 23.00</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Order</th>
                                <td> <a href="page-cart.html" class="btn btn--primary btn--block">Add to
                                        cart</a></td>
                                <td> <a href="page-cart.html" class="btn btn--primary btn--block">Add to
                                        cart</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- .modal-body end -->
        </div>
        <!-- .modal-content end -->
    </div>
    <!-- .modal-dialog end -->
</div>
<!-- .modal end -->

