{% load static %}


{% if product %}

 <div class="modal custom_modal  model-bg-light  product-popup modal-fullscreen" id="product-popup" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="product-detalis product-detalis-3 product-detalis-10 pt-0 pb-0">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        {% comment %} <div class="products-gallery-carousel products-gallery-carousel-2">
                            <div class="owl-carousel kadir" >
                                <div class="product-img">
                                    <img src="{% static 'assets/images/products/gallery/23.jpg' %}" alt="product">
                                </div>
                                <div class="product-img">
                                    <img src="{% static 'assets/images/products/gallery/24.jpg' %}" alt="product">
                                </div>
                                <div class="product-img">
                                    <img src="{% static 'assets/images/products/gallery/25.jpg' %}" alt="product">
                                </div>
                                <div class="product-img">
                                    <img src="{% static 'assets/images/products/gallery/24.jpg' %}" alt="product">
                                </div>
                            </div>
                            <div class="owl-thumbs thumbs-bg" data-slider-id="1">
                                <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/17.png' %}" alt="product thumb">
                                </button>
                                <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/18.png' %}" alt="product thumb">
                                </button>
                                <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/19.png' %}" alt="product thumb">
                                </button>
                                <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>
                                <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>            <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>            <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>            <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>            <button class="owl-thumb-item">
                                    <img src="{% static 'assets/images/products/gallery/thumb/20.png' %}" alt="product thumb">
                                </button>
                            </div>
                            <!-- .owl-thumbs end -->
                        </div> {% endcomment %}


                        <div class="products-gallery-carousel products-gallery-carousel-2">
                            <ul class="owl-carousel kadir">
                              <li><img src="https://via.placeholder.com//1300x780" alt=""></li>
                              <li><img src="https://via.placeholder.com//1300x780" alt=""></li>
                              <li><img src="https://via.placeholder.com//1300x780" alt=""></li>
                              <li><img src="https://via.placeholder.com//1300x780" alt=""></li>
                              <li><img src="https://via.placeholder.com//1300x780" alt=""></li>
                            </ul>
                          </div>
                        <!-- .products-gallery-carousel end -->
                    </div>
                    <!-- .col-lg-7 end -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="product--title">
                            <h3>Hebes Living Sofa</h3>
                        </div>
                        <!-- .product-title end -->
                        <div class="product--rating">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product--review">03 Customer Review</div>
                        <!--- .product-review end -->
                        <div class="product--price">$ 42.00</div>
                        <!-- .product-price end -->
                        <div class="product--desc-tabs tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li><a href="#popup--desc-tabs-1" role="tab" data-toggle="tab" class="active">INFO GUIDE</a></li>
                                <li><a href="#popup--desc-tabs-2" role="tab" data-toggle="tab">SHIPPING</a></li>
                                <li><a href="#popup--desc-tabs-3" role="tab" data-toggle="tab">RETURN</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="popup--desc-tabs-1">
                                    <div class="product--desc">
                                        <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum vehicula a hendrerit ac nisi. hendrerit ac</p>
                                    </div>
                                </div>
                                <!-- .tab-pane end -->
                                <div role="tabpanel" class="tab-pane fade" id="popup--desc-tabs-2">
                                    <div class="product--desc">
                                        <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum vehicula a hendrerit ac nisi. hendrerit ac</p>
                                    </div>
                                </div>
                                <!-- .tab-pane end -->
                                <div role="tabpanel" class="tab-pane fade" id="popup--desc-tabs-3">
                                    <div class="product--desc">
                                        <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum vehicula a hendrerit ac nisi. hendrerit ac</p>
                                    </div>
                                </div>
                                <!-- .tab-pane end -->
                            </div>
                            <!-- #tab-content end -->
                        </div>
                        <!-- .product-desc-tabs end -->
                        <div class="product--meta">
                            <ul class="product--meta-info list-unstyled">
                                <li>Availability:<span>In stock</span></li>
                                <li>SKU:<span>S3456</span></li>
                            </ul>
                            <!-- .product-meta-info end -->
                            <div class="product--meta-select3">
                                <form class="mb-30">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="select--box">
                                                <i class="fa fa-caret-down"></i>
                                                <select  class="form-control">
                                                    <option value="white">WHITE</option>
                                                    <option value="black">black</option>
                                                    <option value="red">red</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- .col-md-6 -->
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="select--box">
                                                <i class="fa fa-caret-down"></i>
                                                <select  class="form-control">
                                                    <option value="small">SMALL</option>
                                                    <option value="large">large</option>
                                                    <option value="X large">X large</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- .col-md-6 -->
                                    </div>
                                    <!-- .row -->
                                </form>
                            </div>
                            <!-- .product-meta-select end -->
                            <div class="product--meta-action clearfix mb-0">
                                <div class="mb-40">
                                    <div class="select-order">
                                        <div class="product-quantity">
                                            <input class="minus" type="button" value="-">
                                            <input type="text" id="pro1-qunt"  value="2" class="qty" readonly="">
                                            <input class="plus" type="button" value="+">
                                        </div>
                                    </div>
                                    <a href="product-gallery.html" class="btn btn--primary btn--rounded">ADD TO CART</a>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <a href="#" class="fav"><i class="ti-heart"></i></a>
                                        <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                                    </div>
                                    <div class="product--share pull-right">
                                        <a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                        <a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                        <a class="share-google-plus" href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <!-- .product-share end -->
                            </div>
                        </div>

                    </div>
                    <!-- .col-lg-6 end -->
                </div>
                <!-- .row end -->

            </div>
            <!-- .modal-body end -->
        </div>
        </div>
        <!-- .modal-content end -->
    </div>
</div> 





{% endif %}