{% load static %}

<!-- Footer #5
============================================= -->
<footer id="footerParallax" class="footer footer-2 footer-5">
    <div class="container pr-40 pl-40">
        <div class="footer-widget">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5ths widget--logo text-center-xs">
                    <div class="widget--content">
                        <div class="widget--logo-img">
                            <img src="{% static 'assets/images/logo/logo-dark.png' %}" alt="logo">
                        </div>
                    </div>
                    <div class="footer--copyright">
                        <span>&copy; 2019 Hebes - All Rights Reserved, by </span><a
                            href="https://themeforest.net/user/zytheme">zytheme</a>
                    </div>
                    <!-- .footer-copyright end -->
                </div>
                <!-- .col-lg-5ths end -->
                <div class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--contact-info">
                    <div class="widget--content">
                        <ul class="list-unstyled">
                            <li>No. 342 - London Oxford Street,</li>
                            <li>012 United Kingdom.</li>
                            <li><a href="mailto:admin@gmail.com">support@zytheme.com</a></li>
                            <li><a href="tel:+03234567890">+03234567890</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-lg-5ths end -->
                <div class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--links">
                    <div class="widget--content">
                        <ul class="list-unstyled">
                            <li><a href="page-about-1.html">About Us </a></li>
                            <li><a href="page-privacy.html">Privacy Policy</a></li>
                            <li><a href="page-terms.html">Term & Conditions</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-lg-5ths end -->
                <div class="col-sm-12 col-md-6 col-lg-5ths text-center-xs widget--newsletter">
                    <div class="widget--content">
                        <h3>GET 20% OFF</h3>
                        <p>By subscribing to our newsletter</p>
                        <form class="mailchimp form--newsletter">
                            <input type="email" class="form-control" placeholder="Enter your email" required>
                            <button type="submit"><i class="fa fa-chevron-right"></i></button>
                            <div class="subscribe-alert"></div>
                        </form>
                    </div>
                </div>
                <!-- .col-lg-5ths end -->
                <div class="col-sm-12 col-md-6 col-lg-5ths  text-center-xs widget--social">
                    <div class="widget--content">
                        <div class="social--icons">
                            <span>Follow Us On Social</span>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="google-plus" href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a class="instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .col-lg-5ths end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
</footer>

<div class="modal fade search-popup modal-fullscreen" id="search-popup" tabindex="-1" role="dialog">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
    <div class="pos-vertical-center">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="heading mb-90">
                        <h2 class="heading--title">Search</h2>
                    </div>
                    <form class="form-inline form-search">
                        <div class="form-group">
                            <div class="select--box">
                                <i class="fa fa-caret-down"></i>
                                <select name="select-cat" id="select-cat" class="form-control">
                                    <option>All Categotries</option>
                                    <option>Chairs</option>
                                    <option>Tables</option>
                                    <option>Sofas</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search here">
                            <button type="button"><i class="lnr lnr-arrow-right"></i></button>
                        </div>
                    </form>
                    <!-- .form-search end -->
                    <p>TOP KEYWORDS: Chair, Table, Sofas, Lamps</p>
                </div>
            </div>
        </div>
        <!-- .modal-content end -->
    </div>
</div>
<!-- .modal end -->
<div class="modal model-bg-light fade product-popup modal-fullscreen" id="product-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="product-detalis product-detalis-3 product-detalis-10 pt-0 pb-0">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="products-gallery-carousel products-gallery-carousel-2">
                                <div class="owl-carousel products-slider" data-slider-id="1">
                                    <div class="product-img">
                                        <img src="{% static 'assets/images/products/gallery/23.jpg' %}" alt="product">
                                    </div>
                                    <div class="product-img">
                                        <img src="{% static 'assets/images/products/gallery/24.jpg' %}" alt="product">
                                    </div>
                                    <div class="product-img">
                                        <img src="{% static 'assets/images/products/gallery/25.jpg' %}" alt="product">
                                    </div>
                                    <div class="product-img">
                                        <img src="{% static 'assets/images/products/gallery/24.jpg' %}" alt="product">
                                    </div>
                                </div>
                                <div class="owl-thumbs thumbs-bg" data-slider-id="1">
                                    <button class="owl-thumb-item">
                                        <img src="{% static 'assets/images/products/gallery/17.jpg' %}"
                                            alt="product thumb">
                                    </button>
                                    <button class="owl-thumb-item">
                                        <img src="{% static 'assets/images/products/gallery/18.jpg' %}"
                                            alt="product thumb">
                                    </button>
                                    <button class="owl-thumb-item">
                                        <img src="{% static 'assets/images/products/gallery/19.jpg' %}"
                                            alt="product thumb">
                                    </button>
                                    <button class="owl-thumb-item">
                                        <img src="{% static 'assets/images/products/gallery/20.jpg' %}"
                                            alt="product thumb">
                                    </button>
                                </div>
                                <!-- .owl-thumbs end -->
                            </div>
                            <!-- .products-gallery-carousel end -->
                        </div>
                        <!-- .col-lg-7 end -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="product--title">
                                <h3>Hebes Living Sofa</h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product--review">03 Customer Review</div>
                            <!--- .product-review end -->
                            <div class="product--price">$ 42.00</div>
                            <!-- .product-price end -->
                            <div class="product--desc-tabs tabs">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li><a href="#popup--desc-tabs-1" role="tab" data-toggle="tab" class="active">INFO
                                            GUIDE</a></li>
                                    <li><a href="#popup--desc-tabs-2" role="tab" data-toggle="tab">SHIPPING</a>
                                    </li>
                                    <li><a href="#popup--desc-tabs-3" role="tab" data-toggle="tab">RETURN</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="popup--desc-tabs-1">
                                        <div class="product--desc">
                                            <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum
                                                vehicula a hendrerit ac nisi. hendrerit ac</p>
                                        </div>
                                    </div>
                                    <!-- .tab-pane end -->
                                    <div role="tabpanel" class="tab-pane fade" id="popup--desc-tabs-2">
                                        <div class="product--desc">
                                            <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum
                                                vehicula a hendrerit ac nisi. hendrerit ac</p>
                                        </div>
                                    </div>
                                    <!-- .tab-pane end -->
                                    <div role="tabpanel" class="tab-pane fade" id="popup--desc-tabs-3">
                                        <div class="product--desc">
                                            <p>Sed id interdum urna. Nam ac elit a ante commodo tristique. tum
                                                vehicula a hendrerit ac nisi. hendrerit ac</p>
                                        </div>
                                    </div>
                                    <!-- .tab-pane end -->
                                </div>
                                <!-- #tab-content end -->
                            </div>
                            <!-- .product-desc-tabs end -->
                            <div class="product--meta">
                                <ul class="product--meta-info list-unstyled">
                                    <li>Availability:<span>In stock</span></li>
                                    <li>SKU:<span>S3456</span></li>
                                </ul>
                                <!-- .product-meta-info end -->
                                <div class="product--meta-select3">
                                    <form class="mb-30">
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                                <div class="select--box">
                                                    <i class="fa fa-caret-down"></i>
                                                    <select class="form-control">
                                                        <option value="white">WHITE</option>
                                                        <option value="black">black</option>
                                                        <option value="red">red</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- .col-md-6 -->
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                                <div class="select--box">
                                                    <i class="fa fa-caret-down"></i>
                                                    <select class="form-control">
                                                        <option value="small">SMALL</option>
                                                        <option value="large">large</option>
                                                        <option value="X large">X large</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- .col-md-6 -->
                                        </div>
                                        <!-- .row -->
                                    </form>
                                </div>
                                <!-- .product-meta-select end -->
                                <div class="product--meta-action clearfix mb-0">
                                    <div class="mb-40">
                                        <div class="select-order">
                                            <div class="product-quantity">
                                                <input class="minus" type="button" value="-">
                                                <input type="text" id="pro1-qunt" value="2" class="qty" readonly="">
                                                <input class="plus" type="button" value="+">
                                            </div>
                                        </div>
                                        <a href="product-gallery.html" class="btn btn--primary btn--rounded">ADD
                                            TO CART</a>
                                    </div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a href="#" class="fav"><i class="ti-heart"></i></a>
                                            <a href="#" class="compare" data-toggle="modal"
                                                data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                                        </div>
                                        <div class="product--share pull-right">
                                            <a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                            <a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="share-google-plus" href="#"><i class="fa fa-pinterest-p"></i></a>
                                            <a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                    <!-- .product-share end -->
                                </div>
                            </div>

                        </div>
                        <!-- .col-lg-6 end -->
                    </div>
                    <!-- .row end -->

                </div>
                <!-- .modal-body end -->
            </div>
        </div>
        <!-- .modal-content end -->
    </div>
    <!-- .modal-dialog end -->
</div>
<!-- .modal end -->
<div class="modal model-bg-light fade compare-popup modal-fullscreen" id="compare-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <div class="heading text-center mb-50">
                    <h2 class="heading--title">Compare products</h2>
                </div>
                <div class="table-responsive table-bordered product-detalis-2 product-detalis-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"></th>
                                <td class="product--info">
                                    <div class="product--img">
                                        <img src="{% static 'assets/images/products/thumb/25.jpg' %}" alt="">
                                    </div>
                                    <div class="product--title">
                                        <h3>Relaxing chair</h3>
                                    </div>
                                    <div class="product--price">$ 30.00</div>
                                </td>
                                <td class="product--info">
                                    <div class="product--img">
                                        <img src="{% static 'assets/images/products/thumb/26.jpg' %}" alt="">
                                    </div>
                                    <div class="product--title">
                                        <h3>Simple chair</h3>
                                    </div>
                                    <div class="product--price">$ 23.00</div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Description </th>
                                <td>
                                    <div class="product--desc-list">
                                        <ul class="list-unstyled mb-0">
                                            <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                            <li>Model is 170/ 5’7” Tall</li>
                                            <li>Shoulder seam to hem measures appox 58”/ 147 cm in lenght</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="product--desc-list">
                                        <ul class="list-unstyled mb-0">
                                            <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                            <li>Model is 170/ 5’7” Tall</li>
                                            <li>Shoulder seam to hem measures appox 58”/ 147 cm in lenght</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Availability</th>
                                <td>instock</td>
                                <td>instock</td>
                            </tr>
                            <tr>
                                <th scope="row">color</th>
                                <td>blue</td>
                                <td>black</td>
                            </tr>
                            <tr>
                                <th scope="row">Sku Code</th>
                                <td>h124548461</td>
                                <td>b124741991</td>
                            </tr>
                            <tr>
                                <th scope="row">price</th>
                                <td><span class="color-theme">$ 30.00</span></td>
                                <td><span class="color-theme">$ 23.00</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Order</th>
                                <td> <a href="page-cart.html" class="btn btn--primary btn--block">Add to
                                        cart</a></td>
                                <td> <a href="page-cart.html" class="btn btn--primary btn--block">Add to
                                        cart</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- .modal-body end -->
        </div>
        <!-- .modal-content end -->
    </div>
    <!-- .modal-dialog end -->
</div>
<!-- .modal end -->