{% load static %}

<header id="navbar-spy" class="header header-1 header-transparent">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
        <div class="container">

            <a class="navbar-brand" href="{% url 'home-page' %}">

                <img class="logo" src="{% static 'assets/images/logo/logo-dark.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <!-- home Menu -->
                    <li class="has-dropdown mega-dropdown active">

                        <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Kategoriler</a>
                        <ul class="dropdown-menu mega-dropdown-menu">
                            <li>
                                <div class="container">
                                    <div class="row">

                                        <!-- Column #1 4 adet-->
                                        
                                        {% for kategori in categori %}
                                        {% if not kategori.parent %}
                                            <div class="col-md-12 col-lg-3">
                                                <ul>
                                                    {% for alt_kategori in kategori.child.all   %}

                                                    <li>
                                                        <a href="home-1.html">{{alt_kategori.name}}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                        

                                        <!-- .col-lg-3 end -->
                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- container end -->
                            </li>
                        </ul>
                        <!-- .mega-dropdown-menu end -->
                    </li><!-- li end -->

                    <!-- shop Menu -->
                    <li class="has-dropdown">
                        <a href="{% url 'product-list' %}"  class="dropdown-toggle link-hover" >Mağaza</a>
                        {% comment %} <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Products Layout</a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="shop-layout-fullwidth.html">fullwidth</a>
                                    </li>
                                    <li>
                                        <a href="shop-layout-sidebar-left.html">sidebar left</a>
                                    </li>
                                    <li>
                                        <a href="shop-layout-sidebar-right-2.html">sidebar right</a>
                                    </li>
                                </ul>
                            </li>

                        </ul> {% endcomment %}
                    </li><!-- li end -->

                    <!-- Pages Menu -->
                    <li class="has-dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle link-hover"
                            data-hover="pages">page</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">about us</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="page-about-1.html">About US 1</a>
                                    </li>
                                    <li>
                                        <a href="page-about-2.html">About US 2</a>
                                    </li>
                                    <li>
                                        <a href="page-about-dark.html">About US dark</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </li><!-- li end -->

                    <!-- collection Menu -->
                    <li class="has-dropdown mega-dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Koleksiyonlar</a>
                        <ul class="dropdown-menu mega-dropdown-menu collections-menu">
                            <li>
                                <div class="container">
                                    <div class="row">
                                        <!-- Column #1 -->
                                        <div class="col-md-12 col-lg-5ths">
                                            <div class="collection--menu-content">
                                                <h5>Furniture</h5>
                                                <ul>
                                                    <li>
                                                        <a href="shop-layout-fullwidth.html">chair</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-layout-sidebar-left.html">sofa</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-4columns.html">table</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-3columns.html">bed</a>

                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu--img">

                                                <img src="assets/images/slider/layers/1.png" alt="img"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- .col-lg-5ths end -->


                                        <!-- Column #2 -->
                                        <div class="col-md-12 col-lg-5ths">
                                            <div class="collection--menu-content">
                                                <h5>Lighting</h5>
                                                <ul>
                                                    <li>
                                                        <a href="shop-layout-fullwidth.html">Wall Lamp</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-layout-sidebar-left.html">Bedroom Lamp</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-4columns.html">Garden Lamp</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-3columns.html">Desktop Lamp</a>

                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu--img">


                                                <img src="assets/images/slider/layers/37.png" alt="img"

                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- .col-lg-5ths end -->


                                        <!-- Column #3 -->
                                        <div class="col-md-12 col-lg-5ths">
                                            <div class="collection--menu-content">
                                                <h5>Wood Shelf</h5>
                                                <ul>
                                                    <li>
                                                        <a href="shop-layout-fullwidth.html">wood Living</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-layout-sidebar-left.html">wood Bedroom</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-4columns.html">wood Garden</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-3columns.html">wood tables</a>

                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu--img">

                                                <img src="{% static 'assets/images/slider/layers/35.png' %}" alt="img"

                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- .col-lg-5ths end -->


                                        <!-- Column #4 -->
                                        <div class="col-md-12 col-lg-5ths">
                                            <div class="collection--menu-content">
                                                <h5>Accessories</h5>
                                                <ul>
                                                    <li>
                                                        <a href="shop-layout-fullwidth.html">Shoes</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-layout-sidebar-left.html">Bags</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-4columns.html">Jewellery</a>
                                                    </li>
                                                    <li>
                                                        <a href="shop-3columns.html">Scarves</a>

                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu--img">

                                                <img src="{% static 'assets/images/slider/layers/36.png' %}" alt="img"

                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <!-- .col-lg-5ths end -->

                                    </div>
                                    <!-- .row end -->
                                </div>
                                <!-- container end -->
                            </li>
                        </ul>
                        <!-- .mega-dropdown-menu end -->
                    </li><!-- li end -->

                    <!-- Blog Menu-->
                    <li class="has-dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Blog</a>

           
                    </li><!-- li end -->

                    <!-- features Menu -->
                    <li class="has-dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle link-hover"
                            data-hover="pages">İletişim</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Headers</a>
                                <ul class="dropdown-menu">
                                    <li>

                                        <a href="header-1.html">Header 1</a>
                                    </li>
                                    <li>
                                        <a href="header-2.html">Header 2</a>
                                    </li>
                                    <li>
                                        <a href="header-3.html">Header 3</a>
                                    </li>
                                    <li>
                                        <a href="header-4.html">Header 4</a>
                                    </li>
                                    <li>
                                        <a href="header-5.html">Header 5</a>
                                    </li>
                                    <li>
                                        <a href="header-6.html">Header 6</a>
                                    </li>
                                    <li>
                                        <a href="header-7.html">Header 7</a>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li><!-- li end -->
                </ul>
                <div class="module-container">
                    <!-- Module Search -->
                    <div class="module module-search pull-left">
                        <div class="module-icon search-icon">
                            <i class="lnr lnr-magnifier"></i>
                            <span class="title">Search</span>
                        </div>
                        <div class="module-content module--search-box">
                            <form class="form-search">
                                <input type="text" class="form-control" placeholder="Ürün Ara">
                                <button type="submit"><span class="fa fa-arrow-right"></span></button>
                            </form><!-- .form-search end -->
                        </div>
                    </div><!-- .module-search end -->
                    <div class="vertical-divider pull-left mr-30"></div>
                    <div class="module module-lang  module-dropdown module-dropdown-right pull-left">
                        <div class="module-icon">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                ENG <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                        <div class="module-dropdown-menu module-content">
                            <a class="dropdown-item" href="#">RU</a>
                            <a class="dropdown-item" href="#">FR</a>
                            <a class="dropdown-item" href="#">AR</a>
                        </div>
                    </div>
                    <div class="module module-dropdown module-currency module-dropdown-right pull-left">
                        <div class="module-icon dropdown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                Hesap <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                        <div class="module-dropdown-menu module-content">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="#">Sipariş Geçmişi</a>
                            <a class="dropdown-item" href="#">Profili Düzenle</a>
                            <a class="dropdown-item" href="#">Favoriler</a>
                            <a class="dropdown-item" href="#">Degerlendirmeler</a>
                            <a class="dropdown-item" href="#">İndirim kuponları</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Çıkış Yap</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'login' %}">Giriş Yap</a>
                            <a class="dropdown-item" href="{% url 'register' %}">Kayıt ol</a>
                            {% endif %}
                        </div>
                    </div> <!-- Module Cart -->
                    <div class="module module-cart pull-left">
                        <div class="module-icon cart-icon">
                            <i class="icon-bag"></i>
                            <span class="title">shop cart</span>
                            <label class="module-label">2</label>
                        </div>
                        <div class="module-content module-box cart-box">
                            <div class="cart-overview">
                                <ul class="list-unstyled">
                                    <li>
                                        <img class="img-fluid" src="assets/images/products/thumb/1.jpg" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity: 01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                    <li>
                                        <img class="img-fluid" src="assets/images/products/thumb/2.jpg" alt="product" />
                                        <div class="product-meta">
                                            <h5 class="product-title">Hebes Great Chair</h5>
                                            <p class="product-qunt">Quantity: 01</p>
                                            <p class="product-price">$24.00</p>
                                        </div>
                                        <a class="cart-cancel" href="#"><i class="lnr lnr-cross"></i></a>
                                    </li>
                                </ul>

                            </div>
                            <div class="cart-total">
                                <div class="total-desc">
                                    Sub total

                                </div>
                                <div class="total-price">
                                    $48.00

                                </div>
                                <div class="total-price">
                                    $48.00
                                </div>
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="cart--control">
                                <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                                <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                            </div>

                            <div class="clearfix">
                            </div>
                            <div class="cart--control">
                                <a class="btn btn--white btn--bordered btn--rounded" href="#">view cart </a>
                                <a class="btn btn--primary btn--rounded" href="#">Checkout</a>
                            </div>

                        </div>
                    </div>
                    <!-- .module-cart end -->
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>