<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 category-options">
        <div class="category-num pull-left pull-none-xs">
            <h2><span>260</span>PRODUCTS FOUND</h2>
        </div>
        <!-- .category-num end -->
        <div class="category-select pull-right text-right text-left-sm pull-none-xs">
            <ul class="list-unstyled mb-0">
                <li class="option sort--options">
                    <span class="option--title">Sort by:</span>
                    <div class="select-form">
                        <i class="fa fa-caret-down"></i>
                        <select>
                            <option selected="" value="Default">name</option>
                            <option value="color">color</option>
                            <option value="price">price</option>
                            <option value="branding">branding</option>
                        </select>
                    </div>
                </li>
                <li class="option">
                    <span class="option--title">SHOW</span>
                    <ul class="list-unstyled show--num">
                        <li>2</li>
                        <li>4</li>
                        <li>6</li>
                    </ul>
                </li>
                <li class="option view--type">
                    <a id="switch-list" href="#" class=""><i class="fa fa-th"></i></a>
                    <a id="switch-grid" href="#" class="active"><i class="fa fa-bars"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- .category-options end -->
</div>