<div class="sidebar cat-sidebar">

    <!-- Categories
============================= -->
    <div class="widget widget-categories2">
        <div class="widget--title">
            <h3>categories</h3>
        </div>
        <div class="widget--content">
            <ul class="main--list list-unstyled mb-0">
                <li class="active">
                    <a href="#">FURNITURE <span>(1214)</span></a>
                    <ul class="inner--list list-unstyled mb-0">
                        <li><a href="#">Chair<span>34</span></a></li>
                        <li><a href="#">Sofas<span>104</span></a></li>
                        <li><a href="#">Tables<span>28</span></a></li>
                        <li><a href="#">Bed<span>31</span></a></li>
                        <li><a href="#">Bathrooms<span>26</span></a></li>
                        <li><a href="#">Bookshelf<span>21</span></a></li>
                        <li><a href="#">Accessories<span>129</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">LIGHTING <span>(236)</span></a>
                    <ul class="inner--list list-unstyled mb-0">
                        <li><a href="#">Chair<span>34</span></a></li>
                        <li><a href="#">Sofas<span>104</span></a></li>
                        <li><a href="#">Tables<span>28</span></a></li>
                        <li><a href="#">Bed<span>31</span></a></li>
                        <li><a href="#">Bathrooms<span>26</span></a></li>
                        <li><a href="#">Bookshelf<span>21</span></a></li>
                        <li><a href="#">Accessories<span>129</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">ACCESSORIES <span>(312)</span></a>
                    <ul class="inner--list list-unstyled mb-0">
                        <li><a href="#">Chair<span>34</span></a></li>
                        <li><a href="#">Sofas<span>104</span></a></li>
                        <li><a href="#">Tables<span>28</span></a></li>
                        <li><a href="#">Bed<span>31</span></a></li>
                        <li><a href="#">Bathrooms<span>26</span></a></li>
                        <li><a href="#">Bookshelf<span>21</span></a></li>
                        <li><a href="#">Accessories<span>129</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SALE PRODUCTS <span>(28)</span></a>
                    <ul class="inner--list list-unstyled mb-0">
                        <li><a href="#">Chair<span>34</span></a></li>
                        <li><a href="#">Sofas<span>104</span></a></li>
                        <li><a href="#">Tables<span>28</span></a></li>
                        <li><a href="#">Bed<span>31</span></a></li>
                        <li><a href="#">Bathrooms<span>26</span></a></li>
                        <li><a href="#">Bookshelf<span>21</span></a></li>
                        <li><a href="#">Accessories<span>129</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> <!-- .widget-categories end -->

    <!-- Widget Filter
============================================= -->
    <div class="widget widget-filter">
        <div class="widget--title">
            <h3>Filter By</h3>
        </div>
        <div class="widget--content">
            <div class="category--filter">
                <h4 class="subtitle mt-0">price</h4>
                <div id="slider-range"></div>
                <p>
                    <input type="text" id="amount" readonly>
                </p>
            </div>
            <div class="size--filter">
                <h4 class="subtitle">size</h4>

                <form class="widget-size-form d-flex mb-0">
                    <div class="input-radio">
                        <label class="label-radio">
                            <input type="radio" name="sizeSelect" checked>
                            <span class="radio-indicator"></span>
                            <span class="radio-content">s</span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio">
                            <input type="radio" name="sizeSelect">
                            <span class="radio-indicator"></span>
                            <span class="radio-content">M</span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio">
                            <input type="radio" name="sizeSelect">
                            <span class="radio-indicator"></span>
                            <span class="radio-content">l</span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio">
                            <input type="radio" name="sizeSelect">
                            <span class="radio-indicator"></span>
                            <span class="radio-content">xl</span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio">
                            <input type="radio" name="sizeSelect">
                            <span class="radio-indicator"></span>
                            <span class="radio-content">xxl</span>
                        </label>
                    </div><!-- .input-radio end -->
                </form>
            </div>

            <div class="color--filter">
                <h4 class="subtitle">color</h4>

                <div class="colors-wrapper">
                    <a href="#" class="color-1"></a>
                    <a href="#" class="color-2"></a>
                    <a href="#" class="color-3"></a>
                    <a href="#" class="color-4 active"></a>
                    <a href="#" class="color-5"></a>
                    <a href="#" class="color-6"></a>
                    <a href="#" class="color-7"></a>
                    <a href="#" class="color-8"></a>
                    <a href="#" class="color-9"></a>
                    <a href="#" class="color-10"></a>
                    <a href="#" class="color-11"></a>
                    <a href="#" class="color-12"></a>
                </div>
                <form class="widget-color-form d-flex flex-wrap mb-0">
                    <div class="input-radio">
                        <label class="label-radio color-1">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-2">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-3">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-4">
                            <input type="radio" name="colorSelect" checked>
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-5">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-6">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-7">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-8">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-9">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-10">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-11">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                    <div class="input-radio">
                        <label class="label-radio color-12">
                            <input type="radio" name="colorSelect">
                            <span class="radio-indicator"></span>
                        </label>
                    </div><!-- .input-radio end -->
                </form>

            </div>

            <div class="brands--fiter">
                <h4 class="subtitle">brands</h4>

                <ul class="list-unstyled mb-0">
                    <li><a href="#">Hendrerit<span>34</span></a></li>
                    <li><a href="#">Nullam lacinia<span>104</span></a></li>
                    <li><a href="#">Magna lacinia <span>28</span></a></li>
                    <li><a href="#">Faucibus<span>31</span></a></li>
                    <li><a href="#">Duis lacus<span>26</span></a></li>
                </ul>

            </div>

        </div>
    </div><!-- .widget-filter end -->

</div>