{% load static %}


<div class="col-sm-12 col-md-12 col-lg-9">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 category-options">
            <div class="category-num pull-left pull-none-xs">
                <h2><span>260</span>PRODUCTS FOUND</h2>
            </div>
            <!-- .category-num end -->
            <div class="category-select pull-right text-right text-left-sm pull-none-xs">
                <ul class="list-unstyled mb-0">
                    <li class="option sort--options">
                        <span class="option--title">Sort by:</span>
                        <div class="select-form">
                            <i class="fa fa-caret-down"></i>
                            <select>
                                <option selected="" value="Default">name</option>
                                <option value="color">color</option>
                                <option value="price">price</option>
                                <option value="branding">branding</option>
                            </select>
                        </div>
                    </li>
                    <li class="option">
                        <span class="option--title">SHOW</span>
                        <ul class="list-unstyled show--num">
                            <li>2</li>
                            <li>4</li>
                            <li>6</li>
                        </ul>
                    </li>
                    <li class="option view--type">
                        <a id="switch-list" href="#" class=""><i class="fa fa-th"></i></a>
                        <a id="switch-grid" href="#" class="active"><i class="fa fa-bars"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .category-options end -->
    </div>
    <!-- .row end -->
    <div class="row mb-60">
        <!-- category item #1 -->
        {% for product in products  %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="category-item">
                <div class="carousel owl-carousel carousel-dots" data-slide="1" data-slide-rs="1"
                    data-autoplay="true" data-nav="false" data-dots="true" data-space="0"
                    data-loop="true" data-speed="800">

                    {% for product_image in product.product_image.all %}                        
                    <div class="category--img">
                            {% if product.tags.last|title == "Popüler Ürün" %}
                            <span class="featured-item featured-item2">Hot</span>
                            {% elif product.tags.last|title == "İndirimli Ürün"%}
                            <span class="featured-item featured-item3">sale</span>
                            {% elif product.tags.last|title == "Yeni Ürün"%}
                            <span class="featured-item featured-item2">new</span>
                            {% endif %}
                            <a href="{% url 'product-details' product.slug%}" >
                                <img src="{{product_image.image.url}}" alt="category" />
                            </a>
                    </div>
                    {% endfor %}
                    

                </div>
                <!-- .carousel end -->
                <div class="category--content">
                    <div class="category--title">
                        <h3><a href="#">{{product.name}}</a></h3>
                    </div>
                    <!-- .category-title end -->
                    <div class="category--price">
                        <span>{{product.price}} tl</span>
                    </div>
                    <!-- .category-price end -->
                    <div class="category--hover">
                        <div class="category--action">
                            <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                    class="icon-bag"></i>Sepete Ekle</a>
                            <a data-toggle="modal" data-target="#product-popup"><i
                                    class="ti-search"></i></a>
                            <a href="#"><i class="ti-heart"></i></a>
                            <a href="#" class="compare" data-toggle="modal"
                                data-target="#compare-popup"><i class="ti-control-shuffle"></i></a>
                        </div>
                    </div>
                    <!-- .category-hover end -->
                </div>
                <!-- .category-content end -->
            </div>
        </div>
        {% endfor %}

        <!-- .category-item end -->

    </div>
    <!-- .row end -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <a href="#" class="btn--loading">
                <div class="bullets">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                loading
            </a>
        </div>
    </div>
    <!-- .row end -->
</div>