{% load static %}
<div class="col-sm-12 col-md-7 col-lg-9">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 category-options">
            <div class="category-num pull-left pull-none-xs">
                <h2><span>260</span>PRODUCTS FOUND</h2>
            </div>
            <!-- .category-num end -->
            <div class="category-select pull-right text-right text-left-sm pull-none-xs">
                <ul class="list-unstyled mb-0">
                    <li class="option sort--options">
                        <span class="option--title">Sort by:</span>
                        <div class="select-form">
                            <i class="fa fa-caret-down"></i>
                            <select>
                                <option selected="" value="Default">name</option>
                                <option value="color">color</option>
                                <option value="price">price</option>
                                <option value="branding">branding</option>
                            </select>
                        </div>
                    </li>
                    <li class="option">
                        <span class="option--title">SHOW</span>
                        <ul class="list-unstyled show--num">
                            <li>2</li>
                            <li>4</li>
                            <li>6</li>
                        </ul>
                    </li>
                    <li class="option view--type">
                        <a id="switch-list" href="#" class=""><i class="fa fa-th"></i></a>
                        <a id="switch-grid" href="#" class="active"><i class="fa fa-bars"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- .category-options end -->
    </div>
    <!-- .row end -->
    <div class="row mb-60">


        <!-- category item #1 -->


        {% for product in product  %}
        <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="category-item">
                <div class="category--img">
                    <img src="{% static 'assets/images/categories/cat6/1.jpg' %}" alt="category" />
                    <span class="featured-item featured-item2">new</span>
                </div>
                <!-- .category-img end -->
                <div class="category--content">
                    <div class="category--title">
                        <h3><a href="#">Hebes Great Chair</a></h3>
                    </div>
                    <!-- .category-title end -->
                    <div class="category--price">
                        <span>$ 42.00</span>
                    </div>
                    <!-- .category-price end -->
                </div>
                <!-- .category-content end -->
                <div class="category--hover">
                    <div class="category--action">
                        <a href="page-cart.html" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>ADD TO
                            CART</a>
                        <div class="category--action-content">
                            <div class="category--action-icons">
                                <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                <a href="#"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i
                                        class="ti-control-shuffle"></i></a>
                            </div>
                            <!-- .category-action-icons end -->
                            <div class="category--hover-info">
                                <div class="category--title">
                                    <h3><a href="#">Hebes Great Chair</a></h3>
                                </div>
                                <!-- .category-title end -->
                                <div class="category--price">
                                    <span>$ 42.00</span>
                                </div>
                                <!-- .category-price end -->
                            </div>
                            <!-- .category-hover-info end -->
                            <div class="category--colors">
                                <a href="#" class="color-1"></a>
                                <a href="#" class="color-2"></a>
                                <a href="#" class="color-3"></a>
                                <a href="#" class="color-4"></a>
                            </div>
                            <!-- .category-colors end -->
                        </div>
                        <!-- .category-action-content end -->
                    </div>
                    <!-- .category-action end -->
                </div>
                <!-- .category-hover end -->
            </div>
        </div>
        {% endfor %}


        <!-- .category-item end -->


        <!-- .category-item end -->
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <a href="#" class="btn--loading">
                <div class="bullets">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                loading
            </a>
        </div>
    </div>
    <!-- .row end -->
</div>