{% load static %}

<section id="banner-img" class="banner-img pt-0 pb-0">
    <div class="container-fluid pr-40 pl-40 pr-15-xs pl-15-xs">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="d-flex aligin-items-center justify-content-center">
                    <a href="#">
                        <img src="{% static 'assets/images/banner-img/3.jpg' %}" alt="banner-img" class="img-fluid">
                    </a>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>