{% load static %}


<!-- interactive banners #3
        ============================================= -->
<section id="interactive3" class="interactive interactive-2 interactive-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading heading-3 mb-100 text-center">
                    <h2 class="heading--title">HEBES STORE</h2>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="banner-panel">
                    <div class="num">F</div>
                    <div class="panel--content">
                        <h5>Free Shipping</h5>
                        <h6>ALL ORDER OVER $30</h6>
                        <p>We offer integral communication services, and we're responsible for our process.</p>
                    </div>
                </div>
            </div>
            <!-- .interactive-panel end -->
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="banner-panel">
                    <div class="num">S</div>
                    <div class="panel--content">
                        <h5>Support Customer</h5>
                        <h6>SUPPORT 24/7</h6>
                        <p>We thank each client and their projects; thanks to them we have grown and built what
                            we are today!</p>
                    </div>
                </div>
            </div>
            <!-- .interactive-panel end -->
            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="banner-panel">
                    <div class="num">P</div>
                    <div class="panel--content">
                        <h5>Payment security</h5>
                        <h6>100% SECURE PAYMENT</h6>
                        <p>we shows the best websites and portfolios built completely with passion & creativity!
                        </p>
                    </div>
                </div>
            </div>
            <!-- .interactive-panel end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #interactive banners end -->