    {% load static %}

    <section id="collection1" class="collection collection-1">
        <div class="container-fluid pr-0 pl-0">
            <div class="row">
                <!-- collection item #1 -->
                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="collection-item collection-item-1">
                        <div class="collection--img d-flex aligin-items-center justify-content-center">
                            <img src="{% static 'assets/images/collection/col1/1.png' %}" alt="collection" />
                            <div class="vertical--text">SALE UP TO 40% OFF</div>
                            <div class="collection--hover">
                                <a href="product-gallery-vertical.html">
                                    <div class="collection--action"></div>
                                </a>
                            </div>
                        </div>
                        <!-- .collection-img end -->
                        <div class="collection--content">
                            <div class="collection--title">
                                <h3><a href="product-gallery-vertical.html">Hebes Great Chair</a></h3>
                            </div>
                            <!-- .collection-title end -->
                            <a href="#" class="btn btn--underlined">Ürüne Git</a>
                        </div>
                        <!-- .collection-content end -->
                    </div>
                </div>
                <!-- .collection-item end -->
                <!-- collection item #2 -->
                <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-3">
                    <div class="collection-item collection-item-2">
                        <div class="collection--img d-flex aligin-items-center justify-content-center">
                            <img src="{% static 'assets/images/collection/col1/2.png' %}" alt="collection" />
                            <div class="vertical--text">YENİ ÜRÜNLER</div>
                            <div class="collection--hover">
                                <a href="product-gallery-vertical.html">
                                    <div class="collection--action"></div>
                                </a>
                            </div>
                        </div>
                        <!-- .collection-img end -->
                        <div class="collection--content">
                            <div class="collection--title">
                                <h3><a href="product-gallery-vertical.html">Hebes Wood Lamp</a></h3>
                            </div>
                            <!-- .collection-title end -->
                            <div class="collection--desc">
                                <p>Vestibulum imperdiet nibh vel magna</p>
                            </div>
                            <!-- .collection-desc end -->
                            <a href="#" class="btn btn--underlined">Ürüne Git</a>
                        </div>
                        <!-- .collection-content end -->
                    </div>
                </div>
                <!-- .collection-item end -->
            </div>
            <!-- .row end -->
        </div>
    </section>