{% extends 'base.html' %}
{% block content %}
<section id="product-detalis1" class="product-detalis product-detalis-1 product-detalis-3 pb-80 bg-lightBlue mtop-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="products-gallery-carousel products-gallery-carousel-1">
                    <div class="owl-carousel products-slider" data-slider-id="1">
                        <div class="product-img">
                            <a class="zoom-icon img-gallery-item" href="assets/images/products/gallery/28.png"><i
                                    class="ti-search"></i></a>
                            <img src="assets/images/products/gallery/28.png" alt="product">
                        </div>
                        <div class="product-img">
                            <a class="zoom-icon img-gallery-item" href="assets/images/products/gallery/25.jpg"><i
                                    class="ti-search"></i></a>
                            <img src="assets/images/products/gallery/25.jpg" alt="product">
                        </div>
                        <div class="product-img">
                            <a class="zoom-icon img-gallery-item" href="assets/images/products/gallery/28.png"><i
                                    class="ti-search"></i></a>
                            <img src="assets/images/products/gallery/28.png" alt="product">
                        </div>
                        <div class="product-img">
                            <a class="zoom-icon img-gallery-item" href="assets/images/products/gallery/23.jpg"><i
                                    class="ti-search"></i></a>
                            <img src="assets/images/products/gallery/23.jpg" alt="product">
                        </div>
                    </div>
                    <div class="owl-thumbs thumbs-bg" data-slider-id="1">
                        <button class="owl-thumb-item">
                            <img src="assets/images/products/gallery/thumb/1.png" alt="product thumb">
                        </button>
                        <button class="owl-thumb-item">
                            <img src="assets/images/products/gallery/thumb/2.png" alt="product thumb">
                        </button>
                        <button class="owl-thumb-item">
                            <img src="assets/images/products/gallery/thumb/3.png" alt="product thumb">
                        </button>
                        <button class="owl-thumb-item">
                            <img src="assets/images/products/gallery/thumb/4.png" alt="product thumb">
                        </button>
                    </div>
                    <!-- .owl-thumbs end -->
                </div>
                <!-- .products-gallery-carousel end -->
            </div>
            <!-- .col-lg-7 end -->
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="mb-30">
                    <ol class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="index-2.html">Furniture</a></li>
                        <li class="active">Sofas</li>
                    </ol>
                </div>
                <div class="product--title">
                    <h3>{{object.name}}</h3>
                </div>
                <!-- .product-title end -->
                <div class="product--rating">
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product--review">03 Customer Review</div>
                <!--- .product-review end -->
                <div class="product--price">{{object.price}} ₺</div>
                <!-- .product-price end -->
                <div class="product--desc">
                    <p>{{object.description}}</p>
                </div>
                <!-- .product-desc end -->
                <div class="product--meta">
                    <div class="product--meta-select select--color">
                        <span class="title">SELECT COLOR</span>
                        <form class="widget-color-form d-flex flex-wrap justify-content-end mb-0">
                            <div class="input-radio">
                                <label class="label-radio color-1">
                                    <input type="radio" name="colorSelect">
                                    <span class="radio-indicator"></span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio color-2">
                                    <input type="radio" name="colorSelect">
                                    <span class="radio-indicator"></span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio color-3">
                                    <input type="radio" name="colorSelect">
                                    <span class="radio-indicator"></span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio color-4">
                                    <input type="radio" name="colorSelect" checked>
                                    <span class="radio-indicator"></span>
                                </label>
                            </div><!-- .input-radio end -->

                        </form>
                    </div>
                    <div class="product--meta-select select--size">
                        <span class="title">SELECT size</span>
                        <form class="widget-size-form d-flex  flex-wrap justify-content-end mb-0">
                            <div class="input-radio">
                                <label class="label-radio">
                                    <input type="radio" name="sizeSelect">
                                    <span class="radio-indicator"></span>
                                    <span class="radio-content">s</span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio">
                                    <input type="radio" name="sizeSelect" checked>
                                    <span class="radio-indicator"></span>
                                    <span class="radio-content">M</span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio">
                                    <input type="radio" name="sizeSelect">
                                    <span class="radio-indicator"></span>
                                    <span class="radio-content">l</span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio">
                                    <input type="radio" name="sizeSelect">
                                    <span class="radio-indicator"></span>
                                    <span class="radio-content">xl</span>
                                </label>
                            </div><!-- .input-radio end -->
                            <div class="input-radio">
                                <label class="label-radio">
                                    <input type="radio" name="sizeSelect">
                                    <span class="radio-indicator"></span>
                                    <span class="radio-content">xl</span>
                                </label>
                            </div><!-- .input-radio end -->
                        </form>
                    </div>
                    <!-- .product-meta-select end -->
                    <ul class="product--meta-info list-unstyled">
                        <li>Availability:<span>In stock</span></li>
                        <li>SKU:<span>S3456</span></li>
                    </ul>
                    <div class="product--meta-action mb-0">
                        <div class="mb-40">
                            <div class="select-order">
                                <div class="product-quantity">
                                    <input class="minus" type="button" value="-">
                                    <input type="text" id="pro1-qunt" value="2" class="qty" readonly="">
                                    <input class="plus" type="button" value="+">
                                </div>
                            </div>
                            <a href="page-cart.html" class="btn btn--primary btn--rounded">ADD TO CART</a>
                        </div>
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#" class="fav"><i class="ti-heart"></i></a>
                                <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i
                                        class="ti-control-shuffle"></i></a>
                            </div>
                            <div class="product--share pull-right">
                                <a class="share-facebook" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="share-twitter" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="share-google-plus" href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a class="share-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <!-- .product-share end -->
                    </div>
                </div>

            </div>
            <!-- .col-lg-5 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
{% endblock content %}