{% load static %}
{% if object_list %}
{% for product in object_list %}
<div class="col-sm-6 col-md-6 col-lg-3">
    <div class="category-item">
        <div class="category--img">
            <a href="{% url 'product-details' product.slug %}"><img
                    src="{% static 'assets/images/categories/cat2/11.jpg' %}" alt="category" /></a>
            <span class="featured-item featured-item3">sale</span>
        </div>
        <!-- .category-img end -->
        <div class="category--content">
            <div class="category--title">
                <h3><a href="{% url 'product-details' product.slug %}">{{product.name}}</a></h3>
            </div>
            <!-- .category-title end -->
            <div class="category--price">
                <span>{{product.price}} ₺</span>
            </div>
            <!-- .category-price end -->
            <div class="category--hover">
                <div class="category--action">
                    <a href="#" class="btn btn--primary btn--rounded"><i class="icon-bag"></i>Sepete
                        Ekle</a>
                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                    <a href="#"><i class="ti-heart"></i></a>
                    <a href="#" class="compare" data-toggle="modal" data-target="#compare-popup"><i
                            class="ti-control-shuffle"></i></a>
                </div>
            </div>
            <!-- .category-hover end -->
        </div>
        <!-- .category-content end -->
    </div>
</div>
{% endfor %}

{% else %}
<p>Mağazamızda henüz ürün yok</p>
{% endif %}