{% load static %}

<!-- product detalis #2
============================================= -->
<section id="product-detalis2" class="product-detalis product-detalis-2 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="product--tabs tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li><a href="#description" aria-controls="description" role="tab" data-toggle="tab"
                                class="active">description</a></li>
                        <li><a href="#addtional-info" aria-controls="addtional-info" role="tab"
                                data-toggle="tab">Addtional info</a></li>
                        <li><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">reviews(2)</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="description">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">

                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 col-lg-8">
                                            <div class="product--desc">
                                                <p>Our agency can only be as strong as our people and because of this,
                                                    our team have own businesses, designed game changing products,
                                                    consulted for companies and competed collegiately and professionally
                                                    when it comes to sports.</p>
                                                <p>Find out about the ways to deal with debts if you are falling behind
                                                    with day-to-day bills, loan and credit card repayments or other
                                                    commitments & get some free advice by speaking to one of our
                                                    financial advisers over the phone? Just submit your details and
                                                    we’ll be in touch shortly. Our staff can help work out what's right
                                                    for you !</p>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-4">
                                            <div class="product--desc-list">
                                                <h6>SIZE & FIT</h6>
                                                <ul class="list-unstyled mb-0">
                                                    <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                                    <li>Model is 170/ 5’7” Tall</li>
                                                    <li>Shoulder seam to hem measures appox 58”/ 147 cm in lenght</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- .col-lg-8 end -->

                                    </div>
                                </div>
                            </div>
                            <!-- .row end -->
                        </div>
                        <!-- #description end -->
                        <div role="tabpanel" class="tab-pane fade" id="addtional-info">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                                    <div class="product--desc">
                                        <p>Our agency can only be as strong as our people and because of this, our team
                                            have own businesses, designed game changing products, consulted for
                                            companies and competed collegiately and professionally</p>
                                        <p>Find out about the ways to deal with debts if you are falling behind with
                                            day-to-day bills, loan and credit card repayments or other commitments & get
                                            some free advice by speaking to one of our financial advisers over the
                                            phone? Just submit your details and we’ll be in touch shortly. Our staff can
                                            help work out what's right for you !</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #details end -->
                        <div role="tabpanel" class="tab-pane fade" id="reviews">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                    <ul class="product--review-comments list-unstyled">
                                        <li class="review--comment">
                                            <div class="author--img">
                                                <img src="assets/images/testimonials/authors/1.jpg" alt="author">
                                            </div>
                                            <div class="review--comment-content">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <h6>Hellen Marry</h6>
                                                        <span class="review--date">July 06th, 2019</span>
                                                    </div>
                                                    <div class="pull-right product--rating">
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                    </div>
                                                </div>
                                                <div class="product--comment">
                                                    <p>At its core, every brand has something special to reveal
                                                        something that inspires people. We are a branding agency, this
                                                        plan if you plan to create a small portfolio</p>
                                                </div>
                                                <a href="#" class="reply">reply<i
                                                        class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </li>
                                        <!-- .review-comment end -->
                                        <li class="review--comment">
                                            <div class="author--img">
                                                <img src="assets/images/testimonials/authors/2.jpg" alt="author">
                                            </div>
                                            <div class="review--comment-content">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <h6>Adam Henry</h6>
                                                        <span class="review--date">July 06th, 2019</span>
                                                    </div>
                                                    <div class="pull-right product--rating">
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                    </div>
                                                </div>
                                                <div class="product--comment">
                                                    <p> it's more than that. We offer integral communication services,
                                                        and we're responsible for our process and results. We thank each
                                                        client and their projects.</p>
                                                </div>
                                                <a href="#" class="reply">reply<i
                                                        class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </li>
                                        <!-- .review-comment end -->
                                        <li class="review--comment">
                                            <div class="author--img">
                                                <img src="assets/images/testimonials/authors/3.jpg" alt="author">
                                            </div>
                                            <div class="review--comment-content">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <h6>John Smith</h6>
                                                        <span class="review--date">July 06th, 2019</span>
                                                    </div>
                                                    <div class="pull-right product--rating">
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                        <i class="fa fa-star active"></i>
                                                    </div>
                                                </div>
                                                <div class="product--comment">
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et
                                                        malesuada fames ac turpis egestas. Vestibulum tortor quam,
                                                        feugiat vitae, ultricies eget, tempor sit amet</p>
                                                </div>
                                                <a href="#" class="reply">reply<i
                                                        class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </li>
                                        <!-- .review-comment end -->
                                    </ul>
                                    <div class="form--review-rating text-center">
                                        <h5>Add Your Review</h5>
                                        <div class="form--review-rating-content">
                                            <span>Your Ratting</span>
                                            <div class="product--rating">
                                                <a href="#"><i class="fa fa-star"></i></a>
                                            </div>
                                            <div class="product--rating">
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </div>
                                            <div class="product--rating">
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </div>
                                            <div class="product--rating">
                                                <a href="#">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </div>
                                            <div class="product--rating">
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                                <i class="fa fa-star active"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form--review">
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <input type="text" class="form-control" id="name"
                                                        placeholder="Enter your name" />
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Email" />
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <textarea class="form-control" id="review" rows="2"
                                                        placeholder="Comment review"></textarea>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-12 text--center">
                                                    <button type="submit" class="btn btn--primary btn--rounded">Submit<i
                                                            class="lnr lnr-arrow-right"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- .col-lg-8 end -->
                            </div>
                            <!-- .row end -->
                        </div>
                        <!-- #reviews end -->
                    </div>
                    <!-- #tab-content end -->
                </div>
                <!-- .product-tabs end -->
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->
</section>
<!-- #product detalis end -->