{% load static %}


<!-- products carousel
============================================= -->
<section id="products-carousel" class="products-carousel related-products pt-0 pb-80">
    <div class="container-fluid pr-40 pl-40">
        <hr class="mb-80">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="heading text-center mb-50">
                    <h2 class="heading--title">Recent Products</h2>
                </div>
            </div>
            <!-- .col-lg-12 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="carousel owl-carousel carousel-dots" data-slide="4" data-slide-rs="2" data-autoplay="true"
                    data-nav="false" data-dots="true" data-space="15" data-loop="true" data-speed="800">
                    <!-- Product item #1 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/1.jpg" alt="product" />
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Great Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- product item #2 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/2.jpg" alt="product" />
                        </div>
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Great Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #3 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/3.jpg" alt="product" />
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Amazing Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #4 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/4.jpg" alt="product" />
                            <span class="featured-item">hot</span>
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Black wood Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #5 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/5.jpg" alt="product" />
                            <span class="featured-item featured-item2">hot</span>
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Great Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #6 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/3.jpg" alt="product" />
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Amazing Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #7 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/4.jpg" alt="product" />
                            <span class="featured-item">hot</span>
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Black wood Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                    <!-- Product item #8 -->
                    <div class="product-item">
                        <div class="product--img">
                            <img src="assets/images/products/related/5.jpg" alt="product" />
                            <span class="featured-item featured-item2">hot</span>
                        </div>
                        <!-- .product-img end -->
                        <div class="product--content">
                            <div class="product--title">
                                <h3><a href="#">Hebes Great Chair</a></h3>
                            </div>
                            <!-- .product-title end -->
                            <div class="product--price">
                                <span>$ 42.00</span>
                            </div>
                            <!-- .product-price end -->
                            <div class="product--hover">
                                <div class="product--action">
                                    <a href="page-cart.html" class="btn btn--primary btn--rounded"><i
                                            class="icon-bag"></i>ADD TO CART</a>
                                    <a data-toggle="modal" data-target="#product-popup"><i class="ti-search"></i></a>
                                    <a href="#"><i class="ti-heart"></i></a>
                                    <a data-toggle="modal" data-target="#compare-popup"><i
                                            class="ti-control-shuffle"></i></a>
                                </div>
                            </div>
                            <!-- .product-hover end -->
                        </div>
                        <!-- .product-content end -->
                    </div>
                    <!-- .product-item end -->
                </div>
                <!-- .carousel end -->

            </div>
            <!-- .row end -->
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #products carousel end -->